<div class="aside">
  <div class="aside-content">
    <table mat-table [dataSource]="themaArr" >

      <!-- Spalte für ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Spalte für Titel -->
      <ng-container matColumnDef="titel">
        <th mat-header-cell *matHeaderCellDef> Titel </th>
        <td mat-cell *matCellDef="let element"> {{element.titel}} </td>
      </ng-container>

      <!-- Definieren der Tabellenzeilen und des Router-Links -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/thema', row.id]" class="dataRow"></tr>
    </table>
  </div>
</div>