html, body, *{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

router-outlet{
    display: none;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 60px 1fr 40px;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}

.header{
    grid-area: header;
    display: flex;
    background-color: white;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.main {
    grid-area: main;
    display: grid;
    width: 100%;
    padding-block: 5px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
    grid-template-areas: 
        "aside content"
    ;
    overflow: hidden;
}

    .aside {
        grid-area: aside;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr auto;
    }

    .aside-content{
        display: flex;
        flex-direction: column;
        justify-content: start;
        overflow-x: hidden;
        overflow-y: scroll;
        direction: rtl;
        border-right: 1px solid grey;
    }

    .aside-content table {
        direction: ltr;
    }

    .aside-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .content{
        padding: 10px;
    }

    .content p {
        text-align: left;
        margin-block: auto;
    }

    .content li {
        list-style: none;
    }

.footer {
    grid-area: footer;
    display: flex;
    background-color: white;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    
    box-shadow: 0 -5px 5px rgba(0,0,0,0.2);
}

.form{
    /*height: fit-content;
    width: fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: column;*/
}

input {
    height: 30px;
    width: 100%;
    margin-block: 5px
}

button{
    min-height: 25px;
    height: fit-content;
    padding-inline: 5px;
    color: black;
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
}

button:hover{
    transition: 200ms;
    transform: scale(1.1)
}

.dataRow:hover{
    cursor: pointer;
    background-color: brown;
}