header{
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: aquamarine;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}
body{
    height: 90vh;
    width: 100%;
}
