header{
    display: flex;
    height: 10vh;
    width: 100vw;
    background-color: white;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
body{
    height: 90vh;
    width: 100vw;
}

