<div class="main"> <!-- Haupt-Container -->
  <div class="content"> <!-- Container für den Inhalt -->
    <h1>Sign In!</h1> <!-- Überschrift "Sign in" -->
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="form-widget"> <!-- Formular mit Formular-Gruppe "signInForm" und der Submit-Methode "onSubmit()" -->
        <label for="email">Email</label> <!-- Label für das E-Mail-Feld -->
        <input
          id="email"
          formControlName="email" 
          class="inputField"
          type="email"  
          placeholder="Your email" 
        />
        <label for="password">Password</label>  <!-- Label für das Passwort-Feld -->
        <input
          id="password"
          formControlName="password"
          class="inputField" 
          type="password"
          placeholder="Your password" 
        />
        <button
          type="submit"
          class="button block"
          [disabled]="loading"
        >
          {{ loading ? 'Loading' : 'Sign In' }}  <!-- Der Button-Text ist "Loading", wenn "loading" true ist, ansonsten "SignIn" -->
        </button>
    </form>

    <div>
      <p>Don't have an account yet?</p>  <!-- Text "Don't have an account yet?" -->
      <button routerLink="../signup">switch to Sign Up</button>  <!-- Button, der zur SignUp-Seite verlinkt -->
    </div>
  </div>
</div>